#wrap-discovery {
	background:#E7C3C3;
	height: 100%;
	flex-grow: 1;
	overflow-y: scroll;
	display: none;
}

.groups {
	background-color: white;
	width: 100%;
	margin-top: 16px;	

}

.groups:last-child {
	border-bottom: none;
}

.group-item{
	width: 94%; height: 44px;
	margin: 0 auto ;
	
	
	display: flex; 
	justify-content: space-between;
	
	border-bottom: 1px solid #E7C3C3;
	
}

.group-item-left {

	width: 42px;height: 42px;
}

.group-item-left img {

	margin: 6px;
	width: 25px;height: 25px;
}

.group-item-center {

	flex-grow: 1;
	color: #616161;
	font-family: "微软雅黑";
	font-size: 15px;
	line-height: 42px;
	padding-left: 13px;
}


.group-item-right {

	width: 42px;height: 42px;
	background: url(../img/icon/material/右箭头.svg)  no-repeat;
	background-position: center;
	background-size: contain;
	transform: scale(.5);
}

.group-item-right img{
	margin: 13px;
	width: 22px;height: 22px;
	
}



